<form [formGroup]="companyForm">
  <div class="form-group">
    <label for="name"> Name </label>
    <input formControlName="name" name="name" type="text" class="form-control">
  </div>

  <div class="alert alert-danger" *ngIf="!companyForm.pristine && name?.hasError('required')">
    Name is mandatory
  </div>

  <div class="form-group">
    <label for="email"> Email </label>
    <input formControlName="email" name="email" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="phone"> Phone </label>
    <input formControlName="phone" name="phone" type="text" class="form-control">
  </div>

  <div class="alert alert-danger" *ngIf="companyForm.get('phone')?.hasError('required')">
    Phone number is mandatory
  </div>

  <div class="form-group">
    <label> Phone number required </label>
    <input [checked]="!!companyForm.get('phoneRequired')?.value" formControlName="phoneRequired" type="checkbox">
  </div>

  <button class="btn btn-primary"
   (click)="saveChanges()"
   [disabled]="companyForm.invalid"
   > Submit </button>

</form>
